@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.intro
{
    background-color:#f1ffbf;
    margin-left: 64px;
    margin-right: 64px;
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 30px;
    padding-top:35px;
}
.intro2
{
    background-color:#ffdcbf;
    margin-left: 64px;  
    margin-right: 64px;
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 30px;
    padding-top:35px;
}
.rcorners1 {

    border-radius: 5px;
    
    padding: 20px;
   
  }
  .rcorners2 {
    border-radius: 5px;
    
    padding: 15px;
   
  }
  /* @font-face { font-family: Raleway; src: url('../text/Raleway/Raleway-Light.TTF'); }
  
  @font-face { font-family: Open-sans; src: url('../text/open-sans/OpenSans-Regular.TTF'); } */
.parallax {
   
    background-image: url("images/laptop.jpg"); 
    min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }
  .parallax2 {
   
    background-image: url("images/mountain.jpg"); 
    min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }
  .text-pri{
 background-color:white;

  }
  body {    
    margin: 0 !important;
    padding: 0 !important;
}
.center {
    position: absolute;
    left:30%;
    top:35%;
    width: 40%;
    min-width: 300px;
    text-align: center;
    background-color: black;
    color: white;
    opacity: 0.85;
    font-size: 48px;
    
  }